<%= render "profiel" %>
<h2 class="profiel-posts-title">いいね</h2>
<div class="profiel-posts">
    <div class="show-tab-content">
        <% @likes.each do |like| %>
            <div class="show-post-body">
                <%= link_to image_tag("/post_images/#{like.post_id}.jpg") , "/posts/#{like.post_id}" %>
            </div>
        <% end %>
    </div>
</div>